<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<title>Glass Predict</title>
</head>


<body>

<section class="text-gray-700 body-font">
  <div class="container px-5 py-10 mx-auto">

    <div class="flex flex-col text-center w-full ">
      <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Let's see what our compostion can give us..</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Glass Classification</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The machine learning predictor presented below is based on the <h1  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Glass Classification</h1> Dataset available on Kaggle.<br>
      	<h1  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Details of the data:</h1>
      <!--  -->
      	<h2  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Source:</h2>
 <h2>Creator:<h2>

B. German<br>
Central Research Establishment<br>
Home Office Forensic Science Service<br>
Aldermaston, Reading, Berkshire RG7 4PN<br>

<br>
Donor:<br>
Vina Spiehler, Ph.D., DABFT<br>
Diagnostic Products Corporation<br>
(213) 776-0180 (ext 3014)<br>

<h2  class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Data Set Information:</h2>

Vina conducted a comparison test of her rule-based system, BEAGLE, the nearest-neighbor algorithm, and discriminant analysis. BEAGLE is a product available through VRS Consulting, Inc.; 4676 Admiralty Way, Suite 206; Marina Del Ray, CA 90292 (213) 827-7890 and FAX: -3189. In determining whether the glass was a type of "float" glass or not, the following results were obtained 
The study of classification of types of glass was motivated by criminological investigation. At the scene of the crime, the glass left can be used as evidence...if it is correctly identified!
      </p>
    </div>

</div>
</section>


<section class="text-gray-700 body-font relative">
  <div class="container px-5 py-17 mx-auto">

    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Let's Check Where the glass can be used ?</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Please enter the compostion% and refractive index</p>
    </div>


    <div class="lg:w-full md:w-full mx-auto">
      <div class="flex flex-col text-center mb-12">

       <form action="{{ url_for('predict')}}"method="POST">

         <div class="row mb-5">
          <input class="form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" name="Refractive" placeholder="Refractive Index" type="text" required="required">
       

       
          <input class="form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2"  name="Na" placeholder="Na %" type="text" required="required">


          <input class="form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" name="Mg" placeholder="Mg %" type="text" required="required">
 
         </div>

         <div class="row mb-5">
          <input class="form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" name="Al" placeholder="Al %" type="text" required="required">
       

       
          <input class=" form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" name="Si" placeholder="Si %" type="text" required="required">


          <input class="form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" name="K" placeholder="K %" type="text" required="required">
 
         </div>

         <div class="row mb-5">
          <input class="form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" name="Ca" placeholder="Ca %" type="text" required="required">
       

       
          <input class=" form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" name="Ba" placeholder="Ba %" type="text" required="required">


          <input class="form-group name1 col-md-4 bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" name="Fe" placeholder="Fe %" type="text" required="required">
 
         </div>
 
        <div class="p-2 w-full">
          <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Predict</button>
        </div>
        
     
        </form>
    </div>
</div>

</div>
</section>

<div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">{{prediction_text}}</h1>
    </div>

<section class="text-gray-700 body-font">
  <div class="container px-5 py-17 mx-auto"?>
	<div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">[0]</h2>
        <p class="leading-relaxed text-base mb-4">BWF : Building_windows_float_processed </p>
      </div>

      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">[1]</h2>
        <p class="leading-relaxed text-base mb-4">BWNF : Building_windows_non_float_processed </p>
      </div>

      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">[2]</h2>
        <p class="leading-relaxed text-base mb-4">Containers</p>
        
      </div>

      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">[3]</h2>
        <p class="leading-relaxed text-base mb-4">Headlamps</p>
      </div>

      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">[4]</h2>
        <p class="leading-relaxed text-base mb-4">Tableware</p>
      </div>

      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">[5]</h2>
        <p class="leading-relaxed text-base mb-4">VWF : Vehicle_windows_float_processed</p>
      </div>

    </div>
 
 </div>
</section>

<div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
          <a class="text-indigo-500">deepthis3565@gmail.com</a>
          <br>
          <span class="inline-flex">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
            </a>
          </span>
          <br>
          <br>
          <p class="copyright text-muted">Copyright &copy; GlassPredict 2020</p>
        </div>

</body>



</html>